/// Allows for quick and easy application of heading styles
@mixin heading( $level: 1, $min: 1em, $max: 2em, $levels: 6 ) {
  
  $scale: numeric-scale($min, $max, $levels);
  
  font-family: font('heading') !important;
  line-height: 1.25 !important;
  font-weight: normal !important;
  margin-top: 1em !important;
  margin-bottom: .5em !important;
  font-size: nth($scale, $level) !important;
  
}