header {
  background-color: color('blue');
  margin: 0 auto;
  
  #logo {
    fill: color('white');
    
    @include large { max-height: 150px; };
    
  }
  
}

/// Style adjustments for the back-end header container.
.s-lib-cmd-bar + #s-lg-guide-header { margin-top: px($command-bar-height) + 25px; }